<header id="site-head" itemscope itemtype="http://schema.org/WPHeader">
    {{ with .Site.Params.Logo }}
    <div id="blog-logo">
        <a href="{{ $.Site.BaseURL }}">
            <img src="{{ .path }}" alt="{{ .alt }}">
        </a>
    </div>
    {{ end }}

    {{ if .Page.IsHome }}<h1{{ else }}<div id="site-title"{{ end }} itemprop="headline">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    {{ if .Page.IsHome }}</h1{{ else }}</div{{ end }}>
    {{ if .Page.IsHome }}<h2{{ else }}<div id="site-description"{{ end }} itemprop="description">{{ .Site.Params.Subtitle }}{{ if .Page.IsHome }}</h2{{ else }}</div{{ end }}>
</header>
